In [15]:
import pandas as pd
import re 
import os

os.getcwd() # Print current working directory

'/Users/stephaniepham/Desktop/consulting-spring2025/season_report/return_page'

Read Data

In [16]:
os.chdir('../..') # go back two directories
os.getcwd()

'/Users/stephaniepham/Desktop/consulting-spring2025'

In [17]:
# USER INPUT: Specify Player!
player_name = 'Rudy Quan'
# player_name = 'Kaylan Bigun'
# # player_name = 'Emon Van Loben Sels'
# player_name = 'Alexander Hoogmartens'
# player_name = 'Spencer Johnson'
# player_name = 'Aadarsh Tripathi'
# player_name = 'Giacomo Revelli'
# player_name = 'Gianluca Ballotta'

In [18]:
combined_data_shots = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Sets')

In [19]:
# Subset 2024-2025 Season Matches!
mens_results = pd.read_csv('data/mens/mens_results.csv')[:229]

# Change Date Format
mens_results['Date'] = pd.to_datetime(mens_results['Date'])


def filter_player(data, player_name):

    # Filter for player_name
    data = data[(data['Player1'] == player_name) | (data['Player2'] == player_name)]

    # Filter for only school events
    data = data[data['Event Name'].str.startswith(('Dual Match', '2024 ITA', '2024-25 NCAA Division'))]
    return data

mens_results_player = filter_player(mens_results, player_name)

In [ ]:
mens_results_player

In [ ]:
combined = combined_data_shots.merge(combined_data_points[['Point', 'Game', 'Set', 'Match Server', '__source_file__']], 
                          how = 'left', 
                          on = ['Set', 'Game', 'Point', '__source_file__'])[1000:4000]

In [103]:
# Find All Returning Games
returns = combined[(combined['Match Server'] == 'guest') & (combined['Player'] == player_name) & ((combined['Type'] == 'first_return') | (combined['Type'] == 'second_return'))]

returns

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Match Server
1009,Rudy Quan,2,second_return,Backhand,Topspin,51.582260,37,8,1,deep,...,-0.028372,24.587389,1.673195,inside out,In,False,21:37:04,1439.130005,RudyQuan_FloridaState_9_23_24.xlsx,guest
1016,Rudy Quan,2,second_return,Backhand,Flat,71.305695,38,8,1,deep,...,4.543220,26.304169,1.149330,down the line,In,False,21:37:38,1473.880005,RudyQuan_FloridaState_9_23_24.xlsx,guest
1026,Rudy Quan,2,first_return,Backhand,Topspin,40.496258,39,8,1,short,...,-1.585526,25.424723,1.853700,inside in,In,False,21:38:18,1513.339966,RudyQuan_FloridaState_9_23_24.xlsx,guest
1028,Rudy Quan,2,first_return,Backhand,Topspin,50.528534,40,8,1,deep,...,4.556429,25.525892,1.048352,down the line,In,False,21:38:40,1535.949951,RudyQuan_FloridaState_9_23_24.xlsx,guest
1034,Rudy Quan,2,first_return,Backhand,Slice,32.772774,41,8,1,deep,...,-0.826689,25.731417,1.620931,inside out,In,False,21:39:07,1562.339966,RudyQuan_FloridaState_9_23_24.xlsx,guest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,Rudy Quan,2,first_return,Forehand,Flat,53.472031,85,15,2,out,...,2.247430,27.328449,1.033211,inside out,Out,False,22:48:06,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,guest
3951,Rudy Quan,2,first_return,Backhand,Flat,55.458935,86,15,2,deep,...,-1.728403,26.492403,1.157648,inside in,In,False,22:48:22,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,guest
3959,Rudy Quan,2,second_return,Forehand,Flat,77.942482,87,15,2,deep,...,2.862678,25.763754,1.210788,inside out,In,False,22:49:06,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,guest
3964,Rudy Quan,2,first_return,Forehand,Topspin,61.407204,88,15,2,deep,...,-5.839761,27.128525,1.075889,down the line,In,False,22:49:57,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,guest
3969,Rudy Quan,2,second_return,Backhand,Flat,61.331078,89,15,2,deep,...,5.114884,25.340780,1.423702,down the line,In,False,22:50:37,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,guest

Percent of return wins function

In [115]:
def return_wins_percent():

    #find the percent of games won when player is the host and the server is the guest 
    pct = (combined_data_games.loc[combined_data_games['Server'] == 'guest', ['Server','Game Winner']]
      ['Game Winner']
      .value_counts(normalize=True)
      .get('host', 0)* 100)
    
    return round(pct, 2)

print(return_wins_percent())

50.0

### Cj Work

In [1]:
import pandas as pd
import re 
import os

player_name = 'Rudy Quan'

combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')
combined_data_settings = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Settings')