# Total Returns Won (Won/Opportunities)

In [1]:
# imports
import pandas as pd
import numpy as np
import os

In [2]:
player_name = 'Rudy Quan' 
combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')
combined_data_settings = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Settings')
combined_data_stats = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Stats')

In [3]:
# combined_data_settings.head()
settings = combined_data_settings.dropna(subset=['Host Team'])
settings.head()

,Start Time,End Time,Location,Host Team,Guest Team,Points,Games,Sets,Games per Set,Sets per Match,Umpire,Ad Scoring,Match Tiebreak,__source_file__
0,21:58:23,23:17:50,NaN,Rudy Quan,Peter Makk,93.0,17.0,2.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_USC_2_22_25.xlsx
6,02:48:24,03:56:55,NaN,Rudy Quan,Aristotelis Thanos,83.0,15.0,2.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_MSU_4_25_25.xlsx
12,03:41:56,05:39:39,NaN,Rudy Quan,Calvin Mueller,143.0,25.0,3.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_Nebraska_4_19_25.xlsx
18,03:45:15,06:31:27,NaN,Rudy Quan,Lenn Luemkemann,146.0,18.0,2.0,6.0,3.0,NaN,1.0,0.0,RudyQuan_Oregon_03_29_25.xlsx
24,23:44:48,01:18:10,NaN,Rudy Quan,Aidan Kim,125.0,21.0,2.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_OSU_4_26_25.xlsx

In [4]:
combined_data_shots['Type'].value_counts()

Type
in_play            2931
first_serve        1365
none               1259
serve_plus_one      968
first_return        825
return_plus_one     815
second_serve        426
second_return       397
return_serve          2
Name: count, dtype: int64

In [5]:
combined_data_points.head()

,Point,Game,Set,Serve State,Match Server,Host Game Score,Guest Game Score,Point Winner,Detail,Break Point,Set Point,Favorited,Start Time,Video Time,Duration,__source_file__
0,1,1,1,first,host,0,0,host,Forehand Unforced Error,False,False,False,21:58:32,9.020000,6.370000,RudyQuan_USC_2_22_25.xlsx
1,2,1,1,first,host,15,0,host,Forehand Unforced Error,False,False,False,21:59:07,44.250000,16.820000,RudyQuan_USC_2_22_25.xlsx
2,3,1,1,first,host,30,0,host,Backhand Unforced Error,False,False,False,21:59:54,90.989998,5.730000,RudyQuan_USC_2_22_25.xlsx
3,4,1,1,second,host,40,0,guest,Backhand Unforced Error,False,False,False,22:00:28,124.730003,19.850000,RudyQuan_USC_2_22_25.xlsx
4,5,1,1,second,host,40,15,host,Forehand Unforced Error,False,False,False,22:01:19,176.369995,20.620001,RudyQuan_USC_2_22_25.xlsx

In [17]:
settings = combined_data_settings.dropna(subset=['Host Team'])

returns = combined_data_shots[combined_data_shots['Type'].str.contains('_return')]
returns = returns[returns['Player'] == player_name]

returns = returns.merge(settings[['__source_file__', 'Host Team']],how = 'inner', on = '__source_file__' )
returns['Result'].value_counts()

Result
In     461
Out     69
Net     60
Name: count, dtype: int64

In [11]:
returns_total = returns.merge(combined_data_points[['__source_file__', 'Point', 'Point Winner']], how='inner', on=['Point', '__source_file__'])
returns_total

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Host Team,Point Winner
0,Rudy Quan,2,second_return,Backhand,Topspin,58.388603,6,2,1,deep,...,0.888816,1.289062,inside in,In,False,22:02:52,268.739990,RudyQuan_USC_2_22_25.xlsx,Rudy Quan,host
1,Rudy Quan,2,first_return,Backhand,Topspin,28.748947,7,2,1,short,...,-1.783059,1.081055,down the line,Net,False,22:03:38,315.299988,RudyQuan_USC_2_22_25.xlsx,Rudy Quan,guest
2,Rudy Quan,2,first_return,Backhand,Flat,40.343201,8,2,1,short,...,0.295066,1.298828,inside out,In,False,22:03:57,334.179993,RudyQuan_USC_2_22_25.xlsx,Rudy Quan,host
3,Rudy Quan,2,first_return,Backhand,Topspin,54.853493,9,2,1,deep,...,-1.665872,1.126953,down the line,In,False,22:04:35,372.000000,RudyQuan_USC_2_22_25.xlsx,Rudy Quan,host
4,Rudy Quan,2,second_return,Backhand,Topspin,30.776215,10,2,1,deep,...,0.810691,1.400391,inside in,Net,False,22:05:45,441.859985,RudyQuan_USC_2_22_25.xlsx,Rudy Quan,guest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,Rudy Quan,2,first_return,Backhand,Flat,47.249519,132,23,3,out,...,26.698627,1.083915,inside out,Out,False,23:21:40,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,Rudy Quan,guest
586,Rudy Quan,2,first_return,Backhand,Flat,42.961288,133,23,3,short,...,25.567390,1.326962,down the line,Out,False,23:22:00,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,Rudy Quan,guest
587,Rudy Quan,2,first_return,Forehand,Topspin,44.766426,134,23,3,deep,...,26.730974,1.104921,down the line,In,False,23:22:21,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,Rudy Quan,host
588,Rudy Quan,2,second_return,Forehand,Topspin,55.201847,135,23,3,short,...,26.340563,1.432291,inside out,In,False,23:23:07,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,Rudy Quan,guest
589,Rudy Quan,2,second_return,Forehand,Flat,52.389530,136,23,3,out,...,25.681612,1.295288,cross court,Out,False,23:23:52,NaN,RudyQuan_Pepperdine_2_27_25.xlsx,Rudy Quan,guest

In [14]:
# function to create a new column for if point winner is UCLA player

def is_return_winner(x):
    if x['Host Team'] == player_name and x['Point Winner'] == "host":
        return 1
    elif x['Host Team'] != player_name and x['Point Winner'] == "guest":
        return 1
    else:
        return 0

In [25]:
returns_total['Return Winner'] = returns_total.apply(lambda x: is_return_winner(x), axis=1)

total_returns_won = sum(returns_total['Return Winner'])
total_opportunities = len(returns_total)    # total number of rows in return_totals df

percentage = (total_returns_won / total_opportunities) * 100

total_returns_won, total_opportunities, percentage

(317, 610, 51.967213114754095)