In [95]:
import pandas as pd

# Load all sheets into a dictionary
shot_ratings_file = pd.read_excel("../../data/mens/Rudy Quan/combined.xlsx", sheet_name=None, engine="openpyxl")

In [96]:
display(shot_ratings_file)

{'Settings':                                            Start Time  End Time  Location  \
 0                                            05:45:11  08:03:20       NaN
 1                                                 NaN       NaN       NaN
 2                Note: xyz coordinates are in meters.       NaN       NaN
 3            X is positive to the right of the camera       NaN       NaN
 4   Y is positive towards the opposite side of the...       NaN       NaN
 ..                                                ...       ...       ...
 67                                                NaN       NaN       NaN
 68               Note: xyz coordinates are in meters.       NaN       NaN
 69           X is positive to the right of the camera       NaN       NaN
 70  Y is positive towards the opposite side of the...       NaN       NaN
 71                  Z is positive up out of the court       NaN       NaN

     Host Team          Guest Team  Points  Games  Sets  Games per Set  \
 0   Rudy Quan  Carl Emil Overbeck     0.0    1.0   3.0            6.0
 1         NaN                 NaN     NaN    NaN   NaN            NaN
 2         NaN                 NaN     NaN    NaN   NaN            NaN
 3         NaN                 NaN     NaN    NaN   NaN            NaN
 4         NaN                 NaN     NaN    NaN   NaN            NaN
 ..        ...                 ...     ...    ...   ...            ...
 67        NaN                 NaN     NaN    NaN   NaN            NaN
 68        NaN                 NaN     NaN    NaN   NaN            NaN
 69        NaN                 NaN     NaN    NaN   NaN            NaN
 70        NaN                 NaN     NaN    NaN   NaN            NaN
 71        NaN                 NaN     NaN    NaN   NaN            NaN

     Sets per Match  Umpire  Ad Scoring  Match Tiebreak  \
 0              3.0     NaN         1.0             0.0
 1              NaN     NaN         NaN             NaN
 2              NaN     NaN         NaN             NaN
 3              NaN     NaN         NaN             NaN
 4              NaN     NaN         NaN             NaN
 ..             ...     ...         ...             ...
 67             NaN     NaN         NaN             NaN
 68             NaN     NaN         NaN             NaN
 69             NaN     NaN         NaN             NaN
 70             NaN     NaN         NaN             NaN
 71             NaN     NaN         NaN             NaN

                      __source_file__
 0          RudyQuan_Cal_1_25_25.xlsx
 1          RudyQuan_Cal_1_25_25.xlsx
 2          RudyQuan_Cal_1_25_25.xlsx
 3          RudyQuan_Cal_1_25_25.xlsx
 4          RudyQuan_Cal_1_25_25.xlsx
 ..                               ...
 67  RudyQuan_Washington_3_30_35.xlsx
 68  RudyQuan_Washington_3_30_35.xlsx
 69  RudyQuan_Washington_3_30_35.xlsx
 70  RudyQuan_Washington_3_30_35.xlsx
 71  RudyQuan_Washington_3_30_35.xlsx

 [72 rows x 14 columns],
 'Shots':                   Player  Shot            Type    Stroke     Spin  \
 0     Carl Emil Overbeck     1           serve     Serve    Slice
 1     Carl Emil Overbeck     1           serve     Serve    Slice
 2              Rudy Quan     2          return  Backhand  Topspin
 3     Carl Emil Overbeck     3  serve_plus_one  Forehand  Topspin
 4     Carl Emil Overbeck     1           serve     Serve     Kick
 ...                  ...   ...             ...       ...      ...
 9246  Cesar Bouchelaghem    29            none  Forehand     Flat
 9247           Rudy Quan    30            none  Forehand  Topspin
 9248  Cesar Bouchelaghem    31            none  Backhand  Topspin
 9249           Rudy Quan    32            none  Forehand     Flat
 9250  Cesar Bouchelaghem    33            none  Forehand    Slice

       Speed (MPH)  Point  Game  Set Bounce Depth  ... Hit Side   Hit (x)  \
 0       43.357174      1     0    0        short  ...     near -1.060547
 1       86.126060      2     0    0        short  ...     near -0.882324
 2       48.867477      2     0    0         deep  ...      far  3.687500
 3       73.100418      2     0    0          out  ...     near -0.642090
 4       30.364021      3     0    0        short  ...     near  0.648438
 ...           ...    ...   ...  ...          ...  ...      ...       ...
 9246    62.750256    118    18    2         deep  ...      far -3.736328
 9247    63.335819    118    18    2         deep  ...     near  3.062500
 9248    32.885406    118    18    2        short  ...      far -0.460693
 9249    43.428860    118    18    2         deep  ...     near  2.134766
 9250    32.520355    118    18    2        short  ...      far -0.620605

         Hit (y)   Hit (z)      Direction Result Favorited  Start Time  \
 0      0.076316  2.337891       out wide    Net     False    05:45:18
 1      0.896628  2.166016       out wide     In     False    05:45:37
 2     24.927538  1.308594  down the line     In     False    05:45:38
 3     -1.564309  1.422852     inside out    Out     False    05:45:40
 4      0.113293  2.228516       out wide    Out     False    05:45:59
 ...         ...       ...            ...    ...       ...         ...
 9246  25.427538  1.285156    cross court     In     False    01:44:01
 9247  -1.212747  0.886230  down the line     In     False    01:44:02
 9248  23.755663  1.542969      inside in    Net     False    01:44:03
 9249   0.857566  1.347656    cross court     In     False    01:44:07
 9250  22.240038  2.148438    cross court     In     False    01:44:09

        Video Time                   __source_file__
 0        7.330000         RudyQuan_Cal_1_25_25.xlsx
 1       26.590000         RudyQuan_Cal_1_25_25.xlsx
 2       27.480000         RudyQuan_Cal_1_25_25.xlsx
 3       29.090000         RudyQuan_Cal_1_25_25.xlsx
 4       48.389999         RudyQuan_Cal_1_25_25.xlsx
 ...           ...                               ...
 9246  8544.179688  RudyQuan_Washington_3_30_35.xlsx
 9247  8545.379883  RudyQuan_Washington_3_30_35.xlsx
 9248  8546.780273  RudyQuan_Washington_3_30_35.xlsx
 9249  8550.980469  RudyQuan_Washington_3_30_35.xlsx
 9250  8552.480469  RudyQuan_Washington_3_30_35.xlsx

 [9251 rows x 26 columns],
 'Points':      Point  Game  Set Serve State Match Server Host Game Score  \
 0        1     1    1       first         host               0
 1        2     1    1       first         host               0
 2        3     1    1       first         host               0
 3        4     1    1       first         host               0
 4        5     1    1       first         host              15
 ..     ...   ...  ...         ...          ...             ...
 844    114    18    2       first        guest              40
 845    115    18    2       first        guest              40
 846    116    18    2       first        guest              AD
 847    117    18    2       first        guest              40
 848    118    18    2       first        guest              40

     Guest Game Score Point Winner                   Detail  Break Point  \
 0                  0        guest  Forehand Unforced Error        False
 1                 15        guest          Backhand Winner        False
 2                 30        guest  Backhand Unforced Error        False
 3                 40         host  Backhand Unforced Error         True
 4                 40        guest          Backhand Winner         True
 ..               ...          ...                      ...          ...
 844               AD         host  Forehand Unforced Error        False
 845               40         host  Forehand Unforced Error        False
 846               40        guest  Forehand Unforced Error         True
 847               40        guest  Forehand Unforced Error        False
 848               AD        guest  Backhand Unforced Error        False

      Set Point  Favorited Start Time   Video Time   Duration  \
 0        False      False   21:13:19    14.080000  18.799999
 1        False      False   21:14:03    58.040001   7.330000
 2        False      False   21:14:31    86.330002   6.030000
 3        False      False   21:15:00   115.970001   4.180000
 4        False      False   21:15:25   140.889999   4.910000
 ..         ...        ...        ...          ...        ...
 844      False      False   01:38:33  8216.379883  13.800000
 845      False      False   01:38:48  8231.379883  16.200001
 846      False      False   01:39:16  8259.950195  86.629997
 847      False      False   01:41:33  8396.780273  18.469999
 848      False      False   01:43:20  8503.440430  52.029999

                         __source_file__
 0    RudyQuan_FloridaState_9_23_24.xlsx
 1    RudyQuan_FloridaState_9_23_24.xlsx
 2    RudyQuan_FloridaState_9_23_24.xlsx
 3    RudyQuan_FloridaState_9_23_24.xlsx
 4    RudyQuan_FloridaState_9_23_24.xlsx
 ..                                  ...
 844    RudyQuan_Washington_3_30_35.xlsx
 845    RudyQuan_Washington_3_30_35.xlsx
 846    RudyQuan_Washington_3_30_35.xlsx
 847    RudyQuan_Washington_3_30_35.xlsx
 848    RudyQuan_Washington_3_30_35.xlsx

 [849 rows x 16 columns],
 'Games':      Game  Set Server  Host Set Score  Guest Set Score Game Winner Start Time  \
 0       1    3   host               4                6        draw   05:45:20
 1       1    1   host               0                0       guest   21:13:19
 2       2    1  guest               0                1        host   21:15:30
 3       3    1   host               1                1        host   21:19:24
 4       4    1  guest               2                1       guest   21:21:43
 ..    ...  ...    ...             ...              ...         ...        ...
 147    15    2   host               3                1       guest   00:31:10
 148    16    2  guest               3                2       guest   00:35:06
 149    17    2   host               3                3        host   00:40:21
 150    18    2  guest               4                3       guest   00:44:33
 151    19    2   host               4                4        draw   01:44:12

       Video Time     Duration                     __source_file__
 0       9.330000          NaN           RudyQuan_Cal_1_25_25.xlsx
 1      14.080000   131.729996  RudyQuan_FloridaState_9_23_24.xlsx
 2     145.800003   233.419998  RudyQuan_FloridaState_9_23_24.xlsx
 3     379.220001   139.190002  RudyQuan_FloridaState_9_23_24.xlsx
 4     518.409973   190.589996  RudyQuan_FloridaState_9_23_24.xlsx
 ..           ...          ...                                 ...
 147  4173.259766   236.729996    RudyQuan_Washington_3_30_35.xlsx
 148  4409.990234   314.029999    RudyQuan_Washington_3_30_35.xlsx
 149  4724.020020   252.149994    RudyQuan_Washington_3_30_35.xlsx
 150  4976.169922  3579.310059    RudyQuan_Washington_3_30_35.xlsx
 151  8555.480469          NaN    RudyQuan_Washington_3_30_35.xlsx

 [152 rows x 10 columns],
 'Sets':     Set  Host Score  Guest Score  Host Tiebreak Score  Guest Tiebreak Score  \
 0     1           7            6                    7                     4
 1     2           3            6                    0                     0
 2     3           4            6                    0                     0
 3     1           6            4                    0                     0
 4     2           6            2                    0                     0
 5     1           6            2                    0                     0
 6     2           6            4                    0                     0
 7     1           6            1                    0                     0
 8     2           6            2                    0                     0
 9     1           6            3                    0                     0
 10    2           6            3                    0                     0
 11    1           6            4                    0                     0
 12    2           0            6                    0                     0
 13    3           2            6                    0                     0
 14    1           6            3                    0                     0
 15    2           7            6                    7                     0
 16    1           3            6                    0                     0
 17    2           6            2                    0                     0
 18    3           3            6                    0                     0
 19    1           6            3                    0                     0
 20    2           6            3                    0                     0
 21    1           6            2                    0                     0
 22    2           6            3                    0                     0
 23    1           6            4                    0                     0
 24    2           4            4                    0                     0

    Set Winner  Super Tiebreak Start Time     Video Time       Duration  \
 0        host           False   05:45:20       9.330000  254517.453125
 1       guest           False   04:27:17  254526.796875      41.360001
 2       guest           False   04:27:59  254568.187500      11.840000
 3        host           False   21:13:19      14.080000    2006.869995
 4        host           False   21:46:45    2020.949951    1990.530029
 5        host           False   22:48:27            NaN    2057.409912
 6        host           False   23:22:45            NaN    2400.679932
 7        host           False   02:08:22      83.129997    1436.229980
 8        host           False   02:32:18    1519.359985    1997.770020
 9        host           False   22:57:40     135.880005  252307.734375
 10       host           False   21:02:48  252443.593750      53.900002
 11       host           False   21:41:58            NaN    2605.729980
 12      guest           False   22:25:24            NaN    1811.819946
 13      guest           False   22:55:36            NaN    2037.170044
 14       host           False   04:04:51     511.149994    2637.090088
 15       host           False   04:48:48    3148.250000    4164.959961
 16      guest           False   17:32:03      12.910000   10967.870117
 17       host           False   20:34:51   10980.780273      10.980000
 18      guest           False   20:35:02   10991.759766      11.130000
 19       host           False   01:19:49       2.630000    2326.530029
 20       host           False   01:58:36    2329.159912    2833.250000
 21       host           False   21:58:32       9.020000    2184.969971
 22       host           False   22:34:57    2193.989990    2573.280029
 23       host           False   23:24:25     168.830002    2674.219971
 24       draw           False   00:09:00    2843.040039            NaN

                         __source_file__
 0             RudyQuan_Cal_1_25_25.xlsx
 1             RudyQuan_Cal_1_25_25.xlsx
 2             RudyQuan_Cal_1_25_25.xlsx
 3    RudyQuan_FloridaState_9_23_24.xlsx
 4    RudyQuan_FloridaState_9_23_24.xlsx
 5          RudyQuan_Indiana_3_7_25.xlsx
 6          RudyQuan_Indiana_3_7_25.xlsx
 7   RudyQuan_MichiganState_4_13_25.xlsx
 8   RudyQuan_MichiganState_4_13_25.xlsx
 9          RudyQuan_Oregon_3_29_25.xlsx
 10         RudyQuan_Oregon_3_29_25.xlsx
 11     RudyQuan_Pepperdine_2_27_25.xlsx
 12     RudyQuan_Pepperdine_2_27_25.xlsx
 13     RudyQuan_Pepperdine_2_27_25.xlsx
 14       RudyQuan_SanDiego_1_20_25.xlsx
 15       RudyQuan_SanDiego_1_20_25.xlsx
 16           RudyQuan_TAMU_1_25_25.xlsx
 17           RudyQuan_TAMU_1_25_25.xlsx
 18           RudyQuan_TAMU_1_25_25.xlsx
 19      RudyQuan_UMichigan_4_25_25.xlsx
 20      RudyQuan_UMichigan_4_25_25.xlsx
 21            RudyQuan_USC_2_22_25.xlsx
 22            RudyQuan_USC_2_22_25.xlsx
 23     RudyQuan_Washington_3_30_35.xlsx
 24     RudyQuan_Washington_3_30_35.xlsx  ,
 'Stats':                     Stat Name  Host Set 1  Guest Set 1  Host Set 2  \
 0                  1st Serves         0.0          0.0         NaN
 1               1st Serves In         0.0          0.0         NaN
 2              1st Serves Won         0.0          0.0         NaN
 3                  2nd Serves         0.0          0.0         NaN
 4               2nd Serves In         0.0          0.0         NaN
 ..                        ...         ...          ...         ...
 325    Forehand Forced Errors         0.0          0.0         0.0
 326    Backhand Forced Errors         0.0          0.0         0.0
 327     Calories Burned (CAL)         0.0          0.0         0.0
 328         Distance Run (MI)         0.0          0.0         0.0
 329  Average Heart Rate (BPM)         0.0          0.0         0.0

      Guest Set 2  Host Set 3  Guest Set 3  Host Set 4  Guest Set 4  \
 0            NaN         NaN          NaN         NaN          NaN
 1            NaN         NaN          NaN         NaN          NaN
 2            NaN         NaN          NaN         NaN          NaN
 3            NaN         NaN          NaN         NaN          NaN
 4            NaN         NaN          NaN         NaN          NaN
 ..           ...         ...          ...         ...          ...
 325          0.0         NaN          NaN         NaN          NaN
 326          0.0         NaN          NaN         NaN          NaN
 327          0.0         NaN          NaN         NaN          NaN
 328          0.0         NaN          NaN         NaN          NaN
 329          0.0         NaN          NaN         NaN          NaN

      Host Set 5  Guest Set 5                   __source_file__
 0           NaN          NaN         RudyQuan_Cal_1_25_25.xlsx
 1           NaN          NaN         RudyQuan_Cal_1_25_25.xlsx
 2           NaN          NaN         RudyQuan_Cal_1_25_25.xlsx
 3           NaN          NaN         RudyQuan_Cal_1_25_25.xlsx
 4           NaN          NaN         RudyQuan_Cal_1_25_25.xlsx
 ..          ...          ...                               ...
 325         NaN          NaN  RudyQuan_Washington_3_30_35.xlsx
 326         NaN          NaN  RudyQuan_Washington_3_30_35.xlsx
 327         NaN          NaN  RudyQuan_Washington_3_30_35.xlsx
 328         NaN          NaN  RudyQuan_Washington_3_30_35.xlsx
 329         NaN          NaN  RudyQuan_Washington_3_30_35.xlsx

 [330 rows x 12 columns]}

In [97]:
stats_df = shot_ratings_file['Stats']
games_df = shot_ratings_file['Games'] 
points_df = shot_ratings_file['Points']

In [98]:
stats_df

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
0,1st Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
1,1st Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
2,1st Serves Won,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
3,2nd Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
4,2nd Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...
325,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
326,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
327,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
328,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
329,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx

In [99]:
# Cj Question: Is this to filter out bad CAL data?
filtered_stats_df = stats_df[stats_df['Host Set 2'].notna()] 
filtered_stats_df.head(40)

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
30,1st Serves,25.0,27.0,22.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
31,1st Serves In,21.0,19.0,18.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
32,1st Serves Won,13.0,14.0,12.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
33,2nd Serves,4.0,8.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
34,2nd Serves In,4.0,8.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
35,2nd Serves Won,4.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
36,Break Points,2.0,4.0,2.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
37,Break Points Saved,1.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
38,1st Returns,19.0,21.0,17.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
39,1st Returns Won,5.0,8.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
40,2nd Returns,8.0,4.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
41,2nd Returns Won,6.0,0.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
42,Break Point Opportunities,4.0,2.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
43,Break Points Won,2.0,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
44,Set Points Saved,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
45,Set Point Opportunities,2.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
46,Set Points Won,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
47,Total Points,52.0,52.0,45.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
48,Total Points Won,28.0,24.0,27.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
49,Aces,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
50,Service Winners,5.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
51,Forehand Winners,5.0,5.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
52,Backhand Winners,2.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
53,Forehand Unforced Errors,4.0,9.0,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
54,Backhand Unforced Errors,6.0,5.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
55,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
56,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
57,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
58,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
59,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
60,1st Serves,22.0,25.0,27.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
61,1st Serves In,18.0,14.0,18.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
62,1st Serves Won,13.0,6.0,12.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
63,2nd Serves,4.0,11.0,9.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
64,2nd Serves In,3.0,10.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
65,2nd Serves Won,1.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
66,Break Points,3.0,5.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
67,Break Points Saved,2.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
68,1st Returns,14.0,18.0,12.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
69,1st Returns Won,8.0,5.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx

<span style="font-size:24px;">Functions </span>

In [ ]:
def get_total(stat_name):
    rows = filtered_stats_df[filtered_stats_df['Stat Name'].str.strip() == stat_name]
    if rows.empty:
        return 0
    total = 0
    for col in rows.columns:
        if col.startswith('Host Set'):
            numeric_vals = pd.to_numeric(rows[col], errors='coerce')
            total += numeric_vals.sum()  # Ignores NaNs automatically
    return total


def calculate_service_games_won(games_df):
    # Filter the DataFrame for host server and non-draw game winner
    host_service_games = games_df[(games_df['Server'] == 'host') & (games_df['Game Winner'] != 'draw')]
    
    # Filter for games where host won
    host_service_games_won = host_service_games[host_service_games['Game Winner'] == 'host']
    
    # Calculate percentage
    if len(host_service_games) > 0:
        service_games_won_percentage = len(host_service_games_won) / len(host_service_games) 
        return service_games_won_percentage
    else:
        return None  # No games to calculate

def calculate_return_games_won(games_df):
    # Filter the DataFrame for guest server and non-draw game winner
    guest_service_games = games_df[(games_df['Server'] == 'guest') & (games_df['Game Winner'] != 'draw')]
    
    # Filter for games where host won (since return games won means host wins)
    guest_return_games_won = guest_service_games[guest_service_games['Game Winner'] == 'host']
    
    # Calculate percentage
    if len(guest_service_games) > 0:
        return_games_won_percentage = len(guest_return_games_won) / len(guest_service_games) 
        return return_games_won_percentage
    else:
        return None  # No games to calculate

def calculate_transition_points(points_df, games_df):
    # Identify the transitions from non-1 to 1 in the 'Set' column
    transitions = (points_df['Set'] != 1) & (points_df['Set'].shift(-1) == 1)

    # Check if we should add the last row as a transition
    last_point_winner = points_df.iloc[-1]['Point Winner']
    last_game_winner = games_df.iloc[-1]['Game Winner']

    # If they match, manually set the last point as a transition
    if last_point_winner == last_game_winner:
        transitions.iloc[-1] = True  # force last row as a transition

    # Filter rows where Point Winner is 'host' and it's a transition
    transition_points = points_df[(points_df['Point Winner'] == 'host') & transitions]

    # Numerator: host transitions
    host_transition_points_count = transition_points.shape[0]

    # Denominator: all transitions
    transition_count = transitions.sum()

    return (host_transition_points_count / transition_count) if transition_count > 0 else None

def calculate_tiebreaks_won_percent(games_df):
    # Find all rows where both players have 6 games in the set â€” a tiebreak situation
    tiebreaks = games_df[(games_df['Host Set Score'] == 6) & (games_df['Guest Set Score'] == 6)]
    
    # Total number of tiebreaks
    total_tiebreaks = tiebreaks.shape[0]
    
    if total_tiebreaks == 0:
        return None  # Avoid division by zero if there are no tiebreaks

    # Count how many tiebreaks were won by the host
    host_tiebreaks_won = (tiebreaks['Game Winner'] == 'host').sum()

    # Compute percentage
    return (host_tiebreaks_won / total_tiebreaks)

### Serve Rating
- 1st Serve %
- 1st Serve Points Won %
- 2nd Serve Points Won %
- Service Games Won %
- Avg. Aces/Match
- Avg. Double Faults/Match

In [101]:
filtered_stats_df[filtered_stats_df['Stat Name'] == 'Aces']
# get_total('Aces')

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
49,Aces,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_FloridaState_9_23_24.xlsx
79,Aces,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Indiana_3_7_25.xlsx
109,Aces,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_MichiganState_4_13_25.xlsx
169,Aces,3.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,RudyQuan_Pepperdine_2_27_25.xlsx
199,Aces,1.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_SanDiego_1_20_25.xlsx
259,Aces,0.0,2.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_UMichigan_4_25_25.xlsx
289,Aces,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx
319,Aces,1.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx

In [102]:
match_count = (filtered_stats_df['Stat Name'].str.strip() == '1st Serves').sum()
(filtered_stats_df['Stat Name'].str.strip() == '1st Serves')

30      True
31     False
32     False
33     False
34     False
       ...
325    False
326    False
327    False
328    False
329    False
Name: Stat Name, Length: 240, dtype: bool

In [103]:
total_matches = len(filtered_stats_df.groupby('__source_file__'))

In [104]:
serve_results = {}

# 1st Serve %
serve_results['1st Serve %'] = get_total('1st Serves In') / get_total('1st Serves') if get_total('1st Serves') else None

# 1st Serve Points Won %
serve_results['1st Serve Points Won %'] = get_total('1st Serves Won') / get_total('1st Serves In') if get_total('1st Serves In') else None

# 2nd Serve Points Won %
serve_results['2nd Serve Points Won %'] = get_total('2nd Serves Won') / get_total('2nd Serves In') if get_total('2nd Serves In') else None

# Service Games Won %
serve_results['Service Games Won %'] = calculate_service_games_won(games_df)



# Avg. Aces/Match
aces_total = get_total('Aces') # Cj Question: Why Do you do it twice
aces_count = (filtered_stats_df['Stat Name'].str.strip() == 'Aces').sum() # Cj Question: Why Do you do it twice
serve_results['Avg. Aces/Match'] = float(aces_total) / aces_count if aces_count else None

# Count total double faults from points_df
double_fault_total = points_df[
    (points_df['Match Server'] == 'host') & 
    (points_df['Detail'] == 'Double Fault')
].shape[0]

# Count matches by number of '1st Serves' entries in filtered_stats_df
match_count = (filtered_stats_df['Stat Name'].str.strip() == '1st Serves').sum()
# Compute average
serve_results['Avg. Double Faults/Match'] = double_fault_total / match_count if match_count else None

# Calculate Serve Rating
serve_rating = 0

# Add percentages (convert decimals to percentage scale)
if serve_results['1st Serve %'] is not None:
    serve_rating += serve_results['1st Serve %'] * 100
if serve_results['1st Serve Points Won %'] is not None:
    serve_rating += serve_results['1st Serve Points Won %'] * 100
if serve_results['2nd Serve Points Won %'] is not None:
    serve_rating += serve_results['2nd Serve Points Won %'] * 100
if serve_results['Service Games Won %'] is not None:
    serve_rating += serve_results['Service Games Won %'] * 100

# Add Aces and subtract Double Faults
if serve_results['Avg. Aces/Match'] is not None:
    serve_rating += serve_results['Avg. Aces/Match']
if serve_results['Avg. Double Faults/Match'] is not None:
    serve_rating -= serve_results['Avg. Double Faults/Match']

# Print out the serve results in the desired format
for k, v in serve_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Serve Rating
print(f"Serve Rating: {serve_rating:.2f}")

1st Serve %: 71.70%
1st Serve Points Won %: 65.13%
2nd Serve Points Won %: 55.24%
Service Games Won %: 71.05%
Avg. Aces/Match: 0.62
Avg. Double Faults/Match: 1.88
Serve Rating: 261.87

<span style="font-size:24px;">Return Rating </span> <br>
<span style="font-size:20px;"> 1st Serve Return Points Won %, 2nd Serve Return Points Won %, Return Games Won %, Break Points Converted % </span>

In [105]:
return_results = {}


# 1st Serve Return Points Won %
return_results['1st Serve Return Points Won %'] = get_total('1st Returns Won') / get_total('1st Returns') if get_total('1st Returns') else None

# 2nd Serve Return Points Won %
return_results['2nd Serve Return Points Won %'] = get_total('2nd Returns Won') / get_total('2nd Returns') if get_total('2nd Returns') else None

# Return Games Won %
return_results['Return Games Won %'] = calculate_return_games_won(games_df)

# % Break Points Converted
return_results['Break Points Converted %'] = get_total('Break Points Won') / get_total('Break Point Opportunities') if get_total('Break Point Opportunities') else None

# Calculate Return Rating
return_rating = 0

# Add percentage stats (scale from decimal to 0â€“100)
if return_results['1st Serve Return Points Won %'] is not None:
    return_rating += return_results['1st Serve Return Points Won %'] * 100
if return_results['2nd Serve Return Points Won %'] is not None:
    return_rating += return_results['2nd Serve Return Points Won %'] * 100
if return_results['Break Points Converted %'] is not None:
    return_rating += return_results['Break Points Converted %'] * 100
if return_results['Return Games Won %'] is not None:
    return_rating += return_results['Return Games Won %'] * 100

# Print out the serve results in the desired format
for k, v in return_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Return Rating
print(f"Return Rating: {return_rating:.2f}")

1st Serve Return Points Won %: 41.85%
2nd Serve Return Points Won %: 65.58%
Return Games Won %: 50.00%
Break Points Converted %: 61.02%
Return Rating: 218.45

<span style="font-size:24px;">Under Pressure Rating </span> <br>
<span style="font-size:20px;"> Break Points Converted %, Break Points Saved %, Tie Breaks Won %, Deciding Sets Won % </span>

In [106]:
pressure_results = {}


# Break Points Converted %
pressure_results['Break Points Converted %'] = get_total('Break Points Won') / get_total('Break Point Opportunities') if get_total('Break Point Opportunities') else None

# Break Points Saved %
pressure_results['Break Points Saved %'] = get_total('Break Points Saved') / get_total('Break Points') if get_total('Break Points') else None

# Tie Breaks Won %
pressure_results['Tie Breaks Won %'] = calculate_tiebreaks_won_percent(games_df) 

# Deciding Sets Won %
pressure_results['Deciding Sets Won %'] = calculate_transition_points(points_df, games_df)

# Calculate Return Rating
pressure_rating = 0

# Add percentage stats (scale from decimal to 0â€“100)
if pressure_results['Break Points Converted %'] is not None:
    pressure_rating += pressure_results['Break Points Converted %'] * 100
if pressure_results['Break Points Saved %'] is not None:
    pressure_rating += pressure_results['Break Points Saved %'] * 100
if pressure_results['Tie Breaks Won %'] is not None:
    pressure_rating += pressure_results['Tie Breaks Won %'] * 100
if pressure_results['Deciding Sets Won %'] is not None:
    pressure_rating += pressure_results['Deciding Sets Won %'] * 100

# Print out the serve results in the desired format
for k, v in pressure_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Pressure Rating
print(f"Pressure Rating: {pressure_rating:.2f}")

Break Points Converted %: 61.02%
Break Points Saved %: 50.00%
Tie Breaks Won %: 100.00%
Deciding Sets Won %: 85.71%
Pressure Rating: 296.73

## Cj Work

### Load Packages

In [107]:
import pandas as pd
import re
import os

### Read Data

In [108]:
# USER INPUT: Specify Player!
player_name = 'Rudy Quan'
# player_name = 'Kaylan Bigun'
# # player_name = 'Emon Van Loben Sels'
# player_name = 'Alexander Hoogmartens'
# player_name = 'Spencer Johnson'
# player_name = 'Aadarsh Tripathi'
# player_name = 'Giacomo Revelli'
# player_name = 'Gianluca Ballotta'

In [109]:
combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')
combined_data_stats = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Stats')
combined_data_settings = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Settings')

In [110]:
# Subset 2024-2025 Season Matches!
mens_results = pd.read_csv('../../data/mens/mens_results.csv')[:229]

# Change Date Format
mens_results['Date'] = pd.to_datetime(mens_results['Date'])


def filter_player(data, player_name):

    # Filter for player_name
    data = data[(data['Player1'] == player_name) | (data['Player2'] == player_name)]

    # Filter for only school events
    data = data[data['Event Name'].str.startswith(('Dual Match', '2024 ITA', '2024-25 NCAA Division'))]
    return data

mens_results_player = filter_player(mens_results, player_name)

In [111]:
mens_results_player

,Event Name,Date,Player1,Player2,Player1 UTR,Player2 UTR,Score
5,"Dual Match: University of California, Los Ange...",2025-05-15,Timo Legout,Rudy Quan,14.23,13.59,"7-5, 6-2"
6,Dual Match: University of Southern California ...,2025-05-08,Rudy Quan,Makk Peter,13.59,13.79,"7-6(4), 3-6, 3-3"
14,"Dual Match: University of California, Los Ange...",2025-05-02,Carl Overbeck,Rudy Quan,13.48,13.59,"5-7, 7-5, 6-3"
18,"Dual Match: University of California, Santa Ba...",2025-05-01,Rudy Quan,Gianluca Brunkow,13.59,13.00,"5-7, 6-2, 0-1"
27,"Dual Match: University of California, Los Ange...",2025-04-26,Aidan Kim,Rudy Quan,13.74,13.59,"7-6(3), 6-2"
33,Dual Match: Michigan State University vs Unive...,2025-04-25,Rudy Quan,Aristotelis Thanos,13.59,13.67,"4-6, 3-1"
36,Dual Match: University of Michigan vs Universi...,2025-04-24,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 5-6"
46,"Dual Match: University of California, Los Ange...",2025-04-19,Rudy Quan,Calvin MUELLER,13.59,13.00,"3-6, 6-3, 6-1"
52,"Dual Match: University of California, Los Ange...",2025-04-17,Michael Minasyan,Rudy Quan,12.00,13.59,"2-6, 6-3"
55,Dual Match: Michigan State University vs Unive...,2025-04-12,Rudy Quan,Ozan Baris,13.59,13.66,"6-1, 6-2"
60,"Dual Match: University of California, Los Ange...",2025-04-10,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 6-3"
69,"Dual Match: University of California, Los Ange...",2025-04-05,Rudy Quan,Charl Morgan,13.59,12.00,"6-3, 6-3"
70,Dual Match: Ohio State University vs Universit...,2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6"
75,"Dual Match: University of California, Los Ange...",2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6, 3-1"
78,"Dual Match: University of California, Los Ange...",2025-03-31,Makk Peter,Rudy Quan,13.79,13.59,"6-4, 6-4"
85,Dual Match: University of Washington vs Univer...,2025-03-29,Rudy Quan,Cesar BOUCHELAGHEM,13.59,13.51,"6-4, 4-4"
94,Dual Match: University of Oregon vs University...,2025-03-28,Rudy Quan,Lenn Luemkemann,13.59,12.00,"6-3, 5-3"
100,"Dual Match: University of California, Los Ange...",2025-03-22,Saiprakash Goli,Rudy Quan,12.00,13.59,"7-5, 3-3"
107,"Dual Match: University of California, Los Ange...",2025-03-20,Kenta Miyoshi,Rudy Quan,13.97,13.59,"7-6(5), 5-1"
112,Dual Match: Purdue University vs University of...,2025-03-08,Rudy Quan,Aleksa KRIVOKAPIC,13.59,12.00,"4-6, 6-3, 1-0(3)"
118,Dual Match: Indiana University vs University o...,2025-03-06,Rudy Quan,Deacon Thomas,13.59,12.00,"6-2, 6-4"
129,Dual Match: University of Southern California ...,2025-02-21,Rudy Quan,Makk Peter,13.59,13.79,"6-2, 6-3"
130,Dual Match: Pepperdine University vs Universit...,2025-02-15,Edward Winter,Rudy Quan,13.52,13.59,"4-6, 6-0, 6-2"
142,"Dual Match: University of California, Berkeley...",2025-01-31,Carl Overbeck,Rudy Quan,13.48,13.59,"6-7(7), 6-3, 6-4"
150,Dual Match: University of Georgia vs Universit...,2025-01-25,Rudy Quan,Ryan Colby,13.59,13.30,"6-2, 6-3"
161,"Dual Match: University of California, Los Ange...",2025-01-24,Jerry Roddick,Rudy Quan,13.00,13.59,"6-3, 2-6, 6-3"
167,Dual Match: University of San Diego vs Univers...,2025-01-19,Rudy Quan,Iiro Vasa,13.59,12.90,"6-3, 7-6(5)"
173,"Dual Match: University of California, Los Ange...",2025-01-16,Rudy Quan,Andy Nguyen,13.59,13.18,"6-4, 6-3"

In [112]:
combined_data_stats['Stat Name'].unique()

array(['1st Serves', '1st Serves In', '1st Serves Won', '2nd Serves',
       '2nd Serves In', '2nd Serves Won', 'Break Points',
       'Break Points Saved', '1st Returns', '1st Returns Won',
       '2nd Returns', '2nd Returns Won', 'Break Point Opportunities',
       'Break Points Won', 'Set Points Saved', 'Set Point Opportunities',
       'Set Points Won', 'Total Points', 'Total Points Won', 'Aces',
       'Service Winners', 'Forehand Winners', 'Backhand Winners',
       'Forehand Unforced Errors', 'Backhand Unforced Errors',
       'Forehand Forced Errors', 'Backhand Forced Errors',
       'Calories Burned (CAL)', 'Distance Run (MI)',
       'Average Heart Rate (BPM)', 'Calories Burned (kCAL)'], dtype=object)

In [113]:
combined_data_stats.columns

Index(['Stat Name', 'Host Set 1', 'Guest Set 1', 'Host Set 2', 'Guest Set 2',
       'Host Set 3', 'Guest Set 3', 'Host Set 4', 'Guest Set 4', 'Host Set 5',
       'Guest Set 5', '__source_file__'],
      dtype='object')

In [114]:
combined_data_stats

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
0,1st Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
1,1st Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
2,1st Serves Won,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
3,2nd Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
4,2nd Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...
325,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
326,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
327,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
328,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
329,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx

### Rahul Work Modified by Cj

### Overall Rating

##### Total Matches

In [143]:
total_matches = len(combined_data_settings.groupby('__source_file__'))
total_matches

12

##### Helper Functions

In [116]:
# Helper Function: Grabs total of Specified Stat
def get_total(df, stat_name):
    rows = df[df['Stat Name'] == stat_name]
    if rows.empty: # UPDATE Throw an error?
        return 0
    total = 0
    for col in rows.columns:
        if col.startswith('Host Set'):
            numeric_vals = pd.to_numeric(rows[col], errors='coerce')
            total += numeric_vals.sum()  # Ignores NaNs automatically #UPDATE: throw an error? because this means that the data is bad?
    return total
    # return rows

In [130]:
# Helper Function: Calculate Service Games Won Percentage

def calculate_service_games_won(df):
    # Filter the DataFrame for host server and non-draw game winner
    host_service_games = df[(df['Server'] == 'host') & (df['Game Winner'] != 'draw')]
    
    # Filter for games where host won
    host_service_games_won = host_service_games[host_service_games['Game Winner'] == 'host']
    
    service_games_won_percentage = len(host_service_games_won) / len(host_service_games) 
    
    return service_games_won_percentage

In [121]:
# Helper Function: Calculate Double Faults

def calculate_double_faults(df):
    double_fault_total = df[(df['Match Server'] == 'host') & 
                                   (df['Detail'] == 'Double Fault')].shape[0]
    return double_fault_total

In [ ]:
# Helper Function: Caluclate Return Games Won 

def calculate_return_games_won(df):
    # Filter the DataFrame for guest server and non-draw game winner
    guest_service_games = df[(df['Server'] == 'guest') & (df['Game Winner'] != 'draw')]
    
    # Filter for games where host won (since return games won means host wins)
    guest_return_games_won = guest_service_games[guest_service_games['Game Winner'] == 'host']

    return_games_won_percentage = len(guest_return_games_won) / len(guest_service_games) 
    
    return return_games_won_percentage

### Serve Rating

In [ ]:
# 1st Serve In Percentage
first_serve_in_percentage = ((get_total(combined_data_stats, '1st Serves In') / get_total(combined_data_stats, '1st Serves')) * 100).round(2)

# 1st Serve Points Won Percentage
first_serve_won_percentage = ((get_total(combined_data_stats, '1st Serves Won') / get_total(combined_data_stats, '1st Serves In')) * 100).round(2)

# 2nd Serve Points Won Percentage
second_serve_won_percentage = ((get_total(combined_data_stats, '2nd Serves Won') / get_total(combined_data_stats, '2nd Serves In')) * 100).round(2)

# Service Games Won Percentage
service_games_won_percentage = round(calculate_service_games_won(combined_data_games) * 100, 2)

# Average Aces per Match Percentagae
aces_average = ((get_total(combined_data_stats, 'Aces') / total_matches)).round(2)

# Average Double Faults per Match Percentage
doubleFaults_average = round(calculate_double_faults(combined_data_points) / total_matches, 2)

In [126]:
serve_rating = round(first_serve_in_percentage + first_serve_won_percentage + second_serve_won_percentage + service_games_won - doubleFaults_average, 1)
serve_rating

261.9

### Return Rating

In [136]:
# 1st Serve Return Points Won Percentage
first_serve_returns_won = ((get_total(combined_data_stats, '1st Returns Won') / get_total(combined_data_stats, '1st Returns')) * 100).round(2)

# 2nd Serve Return Points Won Percentage
second_serve_returns_won = ((get_total(combined_data_stats, '2nd Returns Won') / get_total(combined_data_stats, '2nd Returns')) * 100).round(2)

# Return Games Won Percentage
return_games_won_percentage = round(calculate_return_games_won(games_df) * 100, 2)

# % Break Points Converted Percentage
break_points_converted_percentage = ((get_total(combined_data_stats, 'Break Points Won') / get_total(combined_data_stats, 'Break Point Opportunities')) * 100).round(2)

In [142]:
return_rating = round(first_serve_returns_won + second_serve_returns_won + return_games_won_percentage + break_points_converted_percentage, 1)
return_rating

218.4

### Under Pressure Rating

In [ ]:
# % Break Points Converted Percentage
break_points_converted_percentage = ((get_total(combined_data_stats, 'Break Points Won') / get_total(combined_data_stats, 'Break Point Opportunities')) * 100).round(2)

# Break Points Saved Percentage
break_points_saved_percentage = ((get_total(combined_data_stats, 'Break Points Saved') / get_total(combined_data_stats, 'Break Points')) * 100).round(2)

# Tie Breaks Won %
tiebreaks_won_percentage = tiebreaker_wins / (tiebreaker_wins + tiebreaker_losses)

# Deciding Sets Won %
deciding_sets_won_percentage =

In [ ]:
under_pressure_rating = round(break_points_converted_percentage + break_points_saved_percentage + tiebreaks_won_percentage + )